.footer-box {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    padding: 10px;
    background-color: #E98624ff;
  }
  .footer-column {
    color: #F4DDB4ff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-wrap: wrap;
    
  }
  .footer-about {
    color: #F4DDB4ff;
    text-decoration: none;
  }
  .footer-foot{
    font-family: 'sans-serif';
  }
  .stars-icon{
    color: #E98624ff;
  }

 /* Site colors
  --prussian-blue: #193248ff;
  --tangerine: #E98624ff; 
  --tan: #F4DDB4ff;
*/  

/*font colors:
text: #565360;
label: #90E9B;
disabled: #E1DFE9;
*/
  