@font-face {
    font-family: 'MoonDart';
    src: url('../Styles/fonts/MoonDart-0WZLo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
/* 
  --prussian-blue: #193248ff;
  --blue-green: #4E97B7ff;
  --jasper: #D24B38ff;
  --wheat: #F4DDB4ff;
  --tangerine: #E98624ff; 
*/
  .space-icon{
    color: #4E97B7ff;
  }

    
  .header-box {
    display: flex;
    justify-content: space-between; /* O space-around, flex-start, según necesites */
    align-items: center; /* Alinea los elementos verticalmente */
    padding: 10px;
    color:rgb(228, 223, 213);
    font-family: 'MoonDart';
    background-color:#193248ff ;
}