@font-face {
    font-family: 'MoonDart';
    src: url('../Styles/fonts/MoonDart-0WZLo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .space-icon{
    color: #4E97B7ff;
  }
    
  .header-box {
    display: flex;
    padding: 10px;
    color: #F4DDB4ff;
    font-family: 'MoonDart';
    background-color:#193248ff ;
 }

 /* Site colors
  --prussian-blue: #193248ff;
  --tangerine: #E98624ff; 
  --tan: #F4DDB4ff;
*/

/*font colors:
text: #565360;
label: #90E9B;
disabled: #E1DFE9;
*/