.Page{
    display: flex;
    background-color: rgb(226, 223, 223);
}

.Formulario{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
}
.item{
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border: 3px solid #ffffff48;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 410px;
    height: 100px;
    background-color: white;
    width: 400px;
    height: 90px;
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(100%);
}

.save-button{
    padding-left: 6px;
    font-size: 40px;
    color: #193248ff;
}

.save-button:hover{
    color: rgb(138, 140, 142);
    
}

.item-resultadoPositivo,
.item-resultadoNegativo,
.item-default{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 890px; 
    height: 100px;
    background-color: green; 
    color: azure;
    flex-wrap: wrap; 
    grid-column: span 2;;
}

.item-doble{
    grid-column: span 2;
}

.item-resultadoPositivo {
    background-color: #193248ff;
    color: azure;
}

.item-resultadoNegativo {
    background-color: #E98624ff;
    color: azure;
}

.item-default {
    background-color: white;
    color: black;
}

.resultado-positivo h2,
.resultado-negativo h2,
.resultado-default h2 {
    margin:0;

}

.texto-resultado,
.texto-default{
    width: 60%;
    align-self: flex-start;
}

.botones-resultado,
.botones-default{
    width: 40%;
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.botonResultado-Positivo{
    color: black !important;
    background-color: greenyellow !important;
    width: 150px;
    align-self: flex-end;
    justify-self: flex-end;
}

.botonResultado-Negativo{
    color: white !important;
    background-color: brown!important;
    width: 150px;
    align-self: flex-end;
    justify-self: flex-end;
}

.boton-default{
    color: white !important;
    background-color: black!important;
    width: 150px;
    align-self: flex-end;
    justify-self: flex-end;
}